## Bases de Datos NoSQL - Fdi - UCM

###  Práctica 2

Completar con los nombres

Estudiante 1:

Estudiante 2:

Estudiante 3:

#### Preparación
La práctica utiliza dos colecciones: 
-	libros : Libros con opiniones de usuarios
-	log: Datos de un archivo log


**Entrega**: Una vez finalizado ir a Fila + Download As --> Notebook (.ipynb). Subir al campus virtual el fichero; no hay que cambiarle el nombre

**Nota**: se valorará no solo que el código funcione, sino que sea la solución más sencilla. En particular, debemos intentar evitar resolver las preguntas mediante un uso excesivo de Python

Código para inicializar la base de datos

In [50]:
#### Código
import pymongo 
from pprint import pprint

from pymongo import MongoClient
client = MongoClient('mongodb://127.0.0.1:27017/')

db = client.test
db.libros.drop()
db.log.drop()
r1 = db.libros.insert_many([
{"_id":1,"titulo":"Brotherhood","autor":["Caín","Abel"],"edicion":{"actual":1992,"primera":1990},"precio":9.0,"genero":["religión","crimen"]},
{"_id":2,"titulo":"Juego de Mongos","autor":["Anonimo"],"edicion":{"actual":2019,"primera":1998},"precio":"3","genero":["NoSQL","filosofía oriental"]},
{"_id":3,"titulo":"Días de sueño (I have a dream)","autor":"Mor-feo","edicion":{"actual":2019,"primera":2009},"precio":12.5,"opiniones":[{"usuario":"bertoldo","comentario":"soporífero","puntos":3.0}],"genero":["melodrama","romance"]},
{"_id":4,"titulo":"Peppa Pig va de acampada","genero":["Thriller psicológico","terror","romance"],"edicion":{"actual":1950,"primera":1942},"precio":15.0,"opiniones":[{"usuario":"bertoldo","comentario":"Estremecedor","puntos":7.0},{"usuario":"bertoldo","comentario":"Genial autobiografía","puntos":9.0},{"usuario":"herminia","comentario":"Inextricable","puntos":4.0}]},
{"_id":5,"titulo":"Tú a Mostoles, yo a Getafe","genero":["viajes","romance","terror"],"edicion":{"actual":2017,"primera":2016},"precio":8.0,"opiniones":[{"usuario":"bertoldo","comentario":"Vaya pestiño","puntos":3.0},{"usuario":"herminia","comentario":"La escena de la cervecita...lo mejor","puntos":8.0},{"usuario":"calixto","comentario":"Gran interpretación del conductor del metro","puntos":10.0},{"usuario":"bertoldo","comentario":"La segunda vez me ha gustado aun menos","puntos":0.0}]},
{"_id":6,"titulo":"Canción de hambre y sueño","genero":["NoSQL","romance","MongoDB"],"precio":'9.0',"opiniones":[{"usuario":"herminia","comentario":"Apasionante si no tienes nada que hacer con tu vida","puntos":3.0},{"usuario":"herminia","comentario":"La escena de la cervecita...lo mejor","puntos":8.0},{"usuario":"calixto","comentario":"Más pasado de moda que la camiseta del profesor","puntos":1.0},{"usuario":"bertoldo","comentario":"La segunda vez me ha gustado aun menos","puntos":-5.0}], "edicion":{"actual":2019, "primera":2010}}
])
print(r1.inserted_ids)
r2 = db.log.insert_many([
{'_id': 'Bertoldo', 'País': 'Francia',  
'IP' : ['147.96.1.5','127.0.0.1'],
'actions':[
{'action':'login',"timestamp": "2018-05-24 22:19:41",  'duration':13,'success': True},
{'action':'consult',"timestamp": "2018-05-24 22:19:45",'duration':4,'success': False, 'error':'syntax error'}
],
'completed':2},
{'_id': 'Herminia', 'País': 'España',
'IP' : '2.18.111.255',
'actions':[{'action':'login',"timestamp": "2018-05-24 11:19:45",'duration':16,'success': True},
         {'action':'delete file',"timestamp": "2018-05-24 12:19:13",'duration':54,'success': False},
         {'action':'consult',"timestamp": "2018-05-24 12:22:12"}
         ],
'completed':2},
{'_id': 'Sinda', 'País': 'Alemania', 
'IP':['147.96.1.5','147.121.1.1','154.33.255.128'],
'actions':[
   {'action':'login',"timestamp": "2018-05-24 14:00:47",'duration':400,'success': True},
   {'action':'edit',"timestamp": "2018-05-24 14:30:13",'duration':1600,'success': True},
   {'action':'delete',"timestamp": "2018-05-24 15:03:21",'duration':8,'success': False,'error':'access denied'} ],
'completed':3},
{'_id': 'Aniceto', 'País': 'Francia',  
'IP' : ['147.96.1.5','127.0.0.1'],
'actions':[{'action':'login',"timestamp": "2018-06-24 12:10:0",  'duration':13,'success': False},
	 {'action':'consult',"timestamp": "2018-05-24 12:19:45"}],
'completed':1},
{'_id': 'Fabricio', 'País': 'Italia',  
'IP' : ['147.96.1.5','127.0.0.1'],
'actions':[{'action':'login',"timestamp": "2018-05-24 22:19:41",  'duration':13,'success': True},
	 {'action':'consult',"timestamp": "2018-05-24 22:19:45",'duration':4,'success': False, 'error':'syntax error'}],
'completed':2}
])
print(r2.inserted_ids)

[1, 2, 3, 4, 5, 6]
['Bertoldo', 'Herminia', 'Sinda', 'Aniceto', 'Fabricio']

**Ejemplo**
Libros sin opiniones y con precio menor de 12 euros (mostrar solo título y precio)

In [51]:
# Solución 
query = db.libros.find({'opiniones':{'$exists':False}, 'precio':{'$lt':12}}, {'_id':0, 'titulo':1, 'precio':1})
# Para mostrarlo
for docs in query:
    print(docs)

{'titulo': 'Brotherhood', 'precio': 9.0}

**Ejemplo** Número de libros cuya clave precio es de tipo string

In [52]:
# Solución
query = db.libros.count_documents({"precio":{"$type":"string"}})
print(query)

2

1.- Título de los libros que sean del género romance pero no del género terror.

In [53]:

#query =  
#for doc in query: 
#    print(doc)

2.- Número de libros para los que la primera opinión tenga más de 5 puntos

In [54]:
# Solución
#n = 
#print(n)

3.- Libros que tengan al menos 3 opiniones, y para cada uno de ellos mostrar solo el título y la 3ª opinión.

In [55]:
# Solución
#query = 
#for doc in query:
#    pprint(doc)

4.- Para cada película de género romance, mostrar:

- El título
- La primera opinión de bertoldo para esa película en la que haya puesto una puntuación igual o superior a 8 (si no hay ninguna, no aparecerá el array opiniones)

In [56]:
# Solución
#query = 
#for doc in query: 
#    pprint(doc)

#### Log

5.- Se ha detectado un error en el log que debemos corregir. Todos los usuarios con `País` `Francia` deberían tener en realidad, España. Copia en la solución la instrucción escribirías para hacer el cambio.


**Nota** Recordar que en Python se utiliza `update_many` para modificar todos los documentos que cumplan la condición y `update_one`si solo se quiere modificar uno

In [57]:
# Solución
#query = 
#print(query.modified_count)
#print(query.acknowledged)

2
True

6.- Llega un nuevo acción de la usuario Sinda (se puede suponer que _id: Sinda ya existe),. Se trata de una
'action' con valor 'copy file', timestamp: "2018-05-24 15:03:21",duration:8,success: true. Añadirla al principio de su array acciones ('actions')
poniendo enviada=False.

In [43]:
# Solución 
#query = 
#print(query.modified_count)
#print(query.acknowledged)

1
1

7.- La tercera acción de Herminia, que estaba incompleta, ha finalizado con éxito. Poner success a true y duration a 4.

In [44]:
# para ver los documentos de herminia
for user in db.log.find({"_id": "Herminia"}):
    pprint(user)
    
# Solución
#query = 
#print(query.modified_count)
#print(query.acknowledged)

# volvemos a mostrar los documentos de herminia
for user in db.log.find({"_id": "Herminia"}):
    pprint(user)

{'IP': '2.18.111.255',
 'País': 'España',
 '_id': 'Herminia',
 'actions': [{'action': 'login',
              'duration': 16,
              'success': True,
              'timestamp': '2018-05-24 11:19:45'},
             {'action': 'delete file',
              'duration': 54,
              'success': False,
              'timestamp': '2018-05-24 12:19:13'},
             {'action': 'consult', 'timestamp': '2018-05-24 12:22:12'}],
 'completed': 2}
{'IP': '2.18.111.255',
 'País': 'España',
 '_id': 'Herminia',
 'actions': [{'action': 'login',
              'duration': 16,
              'success': True,
              'timestamp': '2018-05-24 11:19:45'},
             {'action': 'delete file',
              'duration': 54,
              'success': False,
              'timestamp': '2018-05-24 12:19:13'},
             {'action': 'consult',
              'duration': 4,
              'success': True,
              'timestamp': '2018-05-24 12:22:12'}],
 'completed': 2}
1

8.- Bertoldo tiene una nueva IP, la 112.56.2.67. Incorporarla a su lista de IPs si no está incluido ya (la instrucción debe hacer la comprobación, no nosotros a ojo)

In [45]:
# Solución
#query = 
#print(query.modified_count)
#print(query.acknowledged)

1

9.- Añadir un nueva pareja clave valor de la forma {suspicius:true} a todos los  usuarios con alguna acción con duración sobre 10 segundos y valor success a false.

In [46]:
# Solución
#query = 
#print(query.modified_count)
#print(query.acknowledged)

2
True

10.- **Difícil**. La colección pru tiene documentos con el aspecto

```
db.pru.insert({a:[1,2,3,4,5],_id:0})
db.pru.insert({a:[1,2,9],_id:1})
```
Queremos escribir una consulta para encontrar documentos sean subconjuntos del conjunto
[1,4,5,2,3,8] (es decir que todos los elementos de su array 'a' estén en [1,4,5,2,3,8])

En el ejemplo anterior: { "_id" : 0, "a" : [ 1, 2, 3, 4, 5 ] }

In [47]:

db.pru.drop()
db.pru.insert_one({'a':[1,2,3,4,5],'_id':0})
db.pru.insert_one({'a':[1,2,9],'_id':1})
# Solución
#query = 
#for doc in query:
#    print(doc)

{'_id': 0, 'a': [1, 2, 3, 4, 5]}